#quadrovermelhog{
    position: absolute;
    width: 950px;
    height: 120px;
    background-color: maroon;
    left: 0;
    top: 60px;
}

#zebral{
    background-image: url("https://docs.substance3d.com/sddoc/files/159450981/159450980/1/1496152369146/stripes.png");
    position: absolute;
    width: 800px;
    height: 500px;
    bottom: -3200px;
    left: 290px;
    display: flex;
    align-content: flex-end;
}
    



#branquinhol{
    position: absolute;
    width: 780px;
    height: 480px;
    background-color: #fff;

}
#al{
    width: 300px;
    height: 50px;
    position: absolute;
    
    top: 50px;
    left: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-color: black;
    border-width: 1px;
}
#bl{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 130px;
    left: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-color: black;
    border-width: 1px;
}
#cl{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 210px;
    left: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-color: black;
    border-width: 1px;
}
#dl{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 290px;
    left: 440px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-color: black;
    border-width: 1px;
}
#el{
    width: 300px;
    height: 50px;
    position: absolute;
    
    top: 50px;
    left: 440px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-color: black;
    border-width: 1px;
}
#fl{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 130px;
    left:440px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-color: black;
    border-width: 1px;
}
#gl{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 210px;
    left: 440px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-color: black;
    border-width: 1px;
}
#hl{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 290px;
    left: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-color: black;
    border-width: 1px;
}

#botonesl{
    width: 170px;
    height: 50px;
    position: absolute;
    top: 385px;
    left: 300px;
    /* box-sizing: content-box; */
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: black;
    border-width: 1px;
    font-size: 25px;
}